* {
  background-color: rgb(235, 235, 188);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: serif;
  font-size: 50px;
  margin-top: 6.5%;
}

.info-wrap {
  display: flex;
  justify-content: center;
}

.info {
  margin-top: 7%;
  border: 1px solid black;
  background-color: rgb(230, 225, 225);
  width: 40%;
  box-shadow: 10px 5px 5px darkgrey;
  text-align: center;
  padding: 2%;
}

.info > h4 {
  background-color: rgb(230, 225, 225);
  font-size: 18px;
  margin-top: 1.5px;
  margin-bottom: 15px;
}

p {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 110%;
  text-decoration: none;
}

.links {
  display: flex;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 60%;
  margin-bottom: 40%;
}

img {
  margin-top: 2%;
}

.container1 > h3 {
  margin-bottom: 5px;
  height: 20px;
  margin-left: -60px;
}

.container2 > h3 {
  margin-bottom: 10px;
  margin-left: 240px;
}

.ing {
  margin-top: 2%;
}

.ingredients {
  margin-top: 37px;
  position: absolute;
}

.do-this {
  margin-top: 3%;
  margin-bottom: 2.7%;
}

.to-do {
  width: 400px;
  margin-left: 250px;
}

h3 {
  margin-top: 5px;
  margin-left: 200px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 550px;
  max-width: 100%;
  height: auto;
  margin-bottom: 10%;
}

img:hover {
  transform: scaleX(-1);
}

a {
  color: blue;
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
}

a:hover {
  color: rgb(165, 58, 111);
  text-decoration: underline;
}

.ing-and-to-do {
  display: flex;
  justify-content: center;
}

.img-wrap {
  display: flex;
  justify-content: center;
}

article {
  margin: 5% 10%;
  width: 82vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px 5px rgb(163, 163, 163);
  background: white;
  margin-bottom: 15%;
}
.bar {
  display: flex;
  flex-direction: column;
}

.bar > a {
  color: black;
  margin-top: 10%;
  background-color: rgb(235, 235, 188);
}

.choose-recipe {
  margin-left: 1%;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  width: 7%;
}

.container1 {
  display: flex;
  justify-content: center;
  background-color: white;
}

h3,
.container2,
.container3,
.info-wrap,
p,
.links,
section,
h2,
img,
.to-do,
.ing,
.ingredients,
.do-this,
h3,
a,
.ing-and-to-do,
.img-wrap,
.h2-wrap,
footer {
  background-color: white;
}
